// $primary: #2e6471;


@import 'bootstrap/scss/bootstrap';

.aspect-ratio {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: $light;
}